/*Configurações do cabeçalho */
header{
    text-align: center;
}

/*Posicionamento da calculadora e cor*/
.calculadora{
    margin:auto;
    width: 25%;
    background-color: lightgray;
    padding: 15px;
    border-radius: 10px;
}

/*Configurações do teclado*/
.teclado{
    text-align: center;
}

.numeros{
    list-style-type: none;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    justify-content: center;
    align-items: center;
}

.numeros li{
    margin: 5px;
    text-align: center;
    background-color: rgb(204, 237, 248);
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.numeros li:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.numeros li:nth-child(10){
    grid-column: 2;
}

.operacoes{
    list-style-type: none;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
}

.operacoes li{
    margin: 5px;
    text-align: center;
    background-color: rgb(204, 237, 248);
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.operacoes li:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/*Configurações do visor*/
.visor{
    background-color: darkgray;
    margin: auto;
}
.resultado{
    text-align: right;
    margin-top: 0px;
    margin-right: 5px;
}

/*Configurações do botão de calcular*/

.teclado button{
    background-color: rgb(204, 237, 248);
    border-radius: 10px;
    margin: 10px;
}

/*Configurações do rodapé*/
footer{
    text-align: center;
}
